doctype html
html
	head
		title Bottom Time - An Online Logbook for Divers
		link(rel="stylesheet", media="screen", href="https://fontlibrary.org/face/cabin", type="text/css")
		link(rel="stylesheet", href=styleLocation)
		link(rel="shortcut icon",href="/public/img/favicon.ico")
	body
		div#app

	script(type="text/javascript").
		window.baseUrl = '!{baseUrl}';
		window.initialState = !{initialState};
		function initMap() {}	// Required for Google Map component to work!

	script(type="text/javascript", src=googleMapsLocation)
	script(type="text/javascript", src=bundleLocation)
	